<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Brianaria tuberculata</title>
  </head>
  <body>
    <h1><em>Brianaria tuberculata</em></h1>
    <h2>Taxon details</h2>
<table>
<tbody>
  <tr>
   <td style="text-align:left;"> Category </td>
   <td style="text-align:left;"> Non-vascular plant </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Taxon group </td>
   <td style="text-align:left;"> lichen </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Recommended taxon name </td>
   <td style="text-align:left;"> Brianaria tuberculata </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Recommended authority </td>
   <td style="text-align:left;"> (Sommerf) S. Ekman &amp; M. Svensson </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Recommended qualifier </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Recommended taxon version </td>
   <td style="text-align:left;"> BMSSYS0000043177 </td>
  </tr>
</tbody>
</table>
<p><a href='https://species.nbnatlas.org/species/BMSSYS0000043177' target='_blank'> View on NBN Atlas</a></p>
    <h2>Designations</h2>
<h3> Least concern - A Conservation Evaluation of British Lichens and Lichenicolous Fungi (2012) </h3>
<table>
<tbody>
  <tr>
   <td style="text-align:left;"> Designated name </td>
   <td style="text-align:left;"> Micarea tuberculata </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Common name </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Source </td>
   <td style="text-align:left;"> A Conservation Evaluation of British Lichens and Lichenicolous Fungi (2012) </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Source description </td>
   <td style="text-align:left;"> Woods, R.G. &amp; Coppins, B. J. 2012. A Conservation Evaluation of British Lichens and Lichenicolous Fungi. Species Status 13. Joint Nature Conservation Committee, Peterborough. </td>
  </tr>
  <tr>
   <td style="text-align:left;"> URL source </td>
   <td style="text-align:left;"> http://jncc.defra.gov.uk/pdf/Lichens_web_Edits%2020%20Aug.pdf </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Date designated </td>
   <td style="text-align:left;"> 2012-01-01 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Reporting category </td>
   <td style="text-align:left;"> Red listing based on 2001 IUCN guidelines </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Designation </td>
   <td style="text-align:left;"> Least concern </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Designation abbreviation </td>
   <td style="text-align:left;"> RedList_GB_post2001-LC </td>
  </tr>
  <tr>
   <td style="text-align:left;"> designation description </td>
   <td style="text-align:left;"> Taxa which are neither threatened nor near threatened. </td>
  </tr>
  <tr>
   <td style="text-align:left;"> IUCN version </td>
   <td style="text-align:left;"> 2001 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Criteria description </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Comments </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Reporting category sort order </td>
   <td style="text-align:left;"> Fc </td>
  </tr>
</tbody>
</table>
<h3> Nationally Scarce. Includes Red Listed taxa - A Conservation Evaluation of British Lichens and Lichenicolous Fungi (2012) </h3>
<table>
<tbody>
  <tr>
   <td style="text-align:left;"> Designated name </td>
   <td style="text-align:left;"> Micarea tuberculata </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Common name </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Source </td>
   <td style="text-align:left;"> A Conservation Evaluation of British Lichens and Lichenicolous Fungi (2012) </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Source description </td>
   <td style="text-align:left;"> Woods, R.G. &amp; Coppins, B. J. 2012. A Conservation Evaluation of British Lichens and Lichenicolous Fungi. Species Status 13. Joint Nature Conservation Committee, Peterborough. </td>
  </tr>
  <tr>
   <td style="text-align:left;"> URL source </td>
   <td style="text-align:left;"> http://jncc.defra.gov.uk/pdf/Lichens_web_Edits%2020%20Aug.pdf </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Date designated </td>
   <td style="text-align:left;"> 2012-01-01 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Reporting category </td>
   <td style="text-align:left;"> Nationally Scarce, Nationally Rare and Other Species </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Designation </td>
   <td style="text-align:left;"> Nationally Scarce. Includes Red Listed taxa </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Designation abbreviation </td>
   <td style="text-align:left;"> NS-includes </td>
  </tr>
  <tr>
   <td style="text-align:left;"> designation description </td>
   <td style="text-align:left;"> Nationally Scarce - Occurring in 16-100 hectads in Great Britain. Includes rare species qualifying under the main IUCN criteria </td>
  </tr>
  <tr>
   <td style="text-align:left;"> IUCN version </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Criteria description </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Comments </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Reporting category sort order </td>
   <td style="text-align:left;"> Gb </td>
  </tr>
</tbody>
</table>

    
    <hr>
    <p>Contains JNCC/NE/NRW/SNH/NIEA data &#169; copyright and database right 2022</p>
  </body>
  <script src="taxon.js"></script>
</html>
