<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Nephrotoma aculeata</title>
  </head>
  <body>
    <h1><em>Nephrotoma aculeata</em></h1>
    <h2>Taxon details</h2>
<table>
<tbody>
  <tr>
   <td style="text-align:left;"> Category </td>
   <td style="text-align:left;"> Invertebrate </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Taxon group </td>
   <td style="text-align:left;"> insect - true fly (Diptera) </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Recommended taxon name </td>
   <td style="text-align:left;"> Nephrotoma aculeata </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Recommended authority </td>
   <td style="text-align:left;"> (Loew, 1871) </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Recommended qualifier </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Recommended taxon version </td>
   <td style="text-align:left;"> NBNSYS0000007970 </td>
  </tr>
</tbody>
</table>
<p><a href='https://species.nbnatlas.org/species/NBNSYS0000007970' target='_blank'> View on NBN Atlas</a></p>
    <h2>Designations</h2>
<h3> Scottish Biodiversity List - Scottish Biodiversity List (incorporating 2007 updates and 2012 categorisation) </h3>
<table>
<tbody>
  <tr>
   <td style="text-align:left;"> Designated name </td>
   <td style="text-align:left;"> Nephrotoma aculeata </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Common name </td>
   <td style="text-align:left;"> a cranefly </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Source </td>
   <td style="text-align:left;"> Scottish Biodiversity List (incorporating 2007 updates and 2012 categorisation) </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Source description </td>
   <td style="text-align:left;"> The Scottish Biodiversity List (SBL) is a list of animals, plants and habitats that Scottish Ministers consider to be of principal importance for biodiversity conservation in Scotland. More information is available from this link: http://www.biodiversityscotland.gov.uk/advice-and-resources/scottish-biodiversity-list/how/. April 2013. </td>
  </tr>
  <tr>
   <td style="text-align:left;"> URL source </td>
   <td style="text-align:left;"> http://www.gov.scot/Topics/Environment/Wildlife-Habitats/16118/Biodiversitylist/SBL </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Date designated </td>
   <td style="text-align:left;"> 2005-11-29 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Reporting category </td>
   <td style="text-align:left;"> Biodiversity Lists - Scotland </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Designation </td>
   <td style="text-align:left;"> Scottish Biodiversity List </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Designation abbreviation </td>
   <td style="text-align:left;"> Scottish_Biodiversity_List </td>
  </tr>
  <tr>
   <td style="text-align:left;"> designation description </td>
   <td style="text-align:left;"> The Scottish Biodiversity List is a list of flora, fauna and habitats considered by the Scottish Ministers to be of principal importance for biodiversity conservation. The development of the list has been a collaborative effort involving a great many stakeholders overseen by scientists from the Scottish Biodiversity Forum. Completion of the list is the first time such a stocktake has been done in Scotland.The Scottish Biodiversity List is a tool for public bodies and others doing their Biodiversity Duty. The publication of the Scottish Biodiversity List satisfies the requirements of Section 2(4) of The Nature Conservation (Scotland) Act 2004. </td>
  </tr>
  <tr>
   <td style="text-align:left;"> IUCN version </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Criteria description </td>
   <td style="text-align:left;"> Category: Conservation action needed; Avoid negative impacts; Criterion: S3 - Rare in the UK (&lt;16 10km sqs); S4 - &lt;6 Scottish 10km sqs </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Comments </td>
   <td style="text-align:left;"> Terrestrial/Freshwater Species. </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Reporting category sort order </td>
   <td style="text-align:left;"> Hc </td>
  </tr>
</tbody>
</table>
<h3> Vulnerable - A review of the scarce and threatened flies of Great Britain - Part 1 (Falk, S.J.) </h3>
<table>
<tbody>
  <tr>
   <td style="text-align:left;"> Designated name </td>
   <td style="text-align:left;"> Nephrotoma aculeata </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Common name </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Source </td>
   <td style="text-align:left;"> A review of the scarce and threatened flies of Great Britain - Part 1 (Falk, S.J.) </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Source description </td>
   <td style="text-align:left;"> Falk, S J.  Research &amp; survey in nature conservation, No. 39.  Published by JNCC, 1991.  Updates relevant information in the RDB Insects (1987) using the old IUCN categories and criteria. </td>
  </tr>
  <tr>
   <td style="text-align:left;"> URL source </td>
   <td style="text-align:left;"> http://jncc.defra.gov.uk/pdf/Pub92_Review_of_scarce_&amp;_threatened_flies_of_Great_Britain_(Part-1)_PRINT.pdf </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Date designated </td>
   <td style="text-align:left;"> 1991-01-01 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Reporting category </td>
   <td style="text-align:left;"> Red Listing based on pre 1994 IUCN guidelines </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Designation </td>
   <td style="text-align:left;"> Vulnerable </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Designation abbreviation </td>
   <td style="text-align:left;"> RedList_GB_Pre94-VU </td>
  </tr>
  <tr>
   <td style="text-align:left;"> designation description </td>
   <td style="text-align:left;"> Taxa believed likely to move into the Endangered category in the near future if the causal factors continue operating. Superseded by new IUCN categories in 1994, but still applicable to lists that have not been reviewed since 1994. </td>
  </tr>
  <tr>
   <td style="text-align:left;"> IUCN version </td>
   <td style="text-align:left;"> pre 1994 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Criteria description </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Comments </td>
   <td style="text-align:left;"> pre 1994 IUCN criteria </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Reporting category sort order </td>
   <td style="text-align:left;"> Fa </td>
  </tr>
</tbody>
</table>

    
    <hr>
    <p>Contains JNCC/NE/NRW/SNH/NIEA data &#169; copyright and database right 2022</p>
  </body>
  <script src="taxon.js"></script>
</html>
