<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Numenius borealis</title>
  </head>
  <body>
    <h1><em>Numenius borealis</em></h1>
    <h2>Taxon details</h2>
<table>
<tbody>
  <tr>
   <td style="text-align:left;"> Category </td>
   <td style="text-align:left;"> Bird </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Taxon group </td>
   <td style="text-align:left;"> bird </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Recommended taxon name </td>
   <td style="text-align:left;"> Numenius borealis </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Recommended authority </td>
   <td style="text-align:left;"> (Forster, JR, 1772) </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Recommended qualifier </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Recommended taxon version </td>
   <td style="text-align:left;"> NBNSYS0000000338 </td>
  </tr>
</tbody>
</table>
<p><a href='https://species.nbnatlas.org/species/NBNSYS0000000338' target='_blank'> View on NBN Atlas</a></p>
    <h2>Designations</h2>
<h3> Annex A - CITES UK Species only </h3>
<table>
<tbody>
  <tr>
   <td style="text-align:left;"> Designated name </td>
   <td style="text-align:left;"> Numenius borealis </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Common name </td>
   <td style="text-align:left;"> Eskimo Curlew </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Source </td>
   <td style="text-align:left;"> CITES UK Species only </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Source description </td>
   <td style="text-align:left;"> The Washington Convention on International Trade in Endangered Species of Wild Fauna and Flora, more commonly known as CITES, aims to protect certain plants and animals by regulating and monitoring their international trade to prevent it reaching unsustainable levels. The Convention entered into force in 1975, and the UK became a Party in 1976. </td>
  </tr>
  <tr>
   <td style="text-align:left;"> URL source </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Date designated </td>
   <td style="text-align:left;"> 1997-01-01 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Reporting category </td>
   <td style="text-align:left;"> EC Cites </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Designation </td>
   <td style="text-align:left;"> Annex A </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Designation abbreviation </td>
   <td style="text-align:left;"> ECCITES-A </td>
  </tr>
  <tr>
   <td style="text-align:left;"> designation description </td>
   <td style="text-align:left;"> All CITES Appendix I species. Some CITES Appendix II and III species, for which the EU has adopted stricter domestic measures. Some non-CITES species. </td>
  </tr>
  <tr>
   <td style="text-align:left;"> IUCN version </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Criteria description </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Comments </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Reporting category sort order </td>
   <td style="text-align:left;"> E </td>
  </tr>
</tbody>
</table>
<h3> Appendix 1 - Convention on Migratory Species </h3>
<table>
<tbody>
  <tr>
   <td style="text-align:left;"> Designated name </td>
   <td style="text-align:left;"> Numenius borealis </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Common name </td>
   <td style="text-align:left;"> Eskimo Curlew </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Source </td>
   <td style="text-align:left;"> Convention on Migratory Species </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Source description </td>
   <td style="text-align:left;"> The Convention on the Conservation of Migratory Species of Wild Animals (Bonn Convention or CMS) was adopted in Bonn, Germany in 1979 and came into force in 1985. Contracting Parties work together to conserve migratory species and their habitats by providing strict protection for endangered migratory species (listed in Appendix 1 of the Convention), concluding multilateral Agreements for the conservation and management of migratory species which require or would benefit from international cooperation (listed in Appendix 2), and by undertaking co-operative research activities </td>
  </tr>
  <tr>
   <td style="text-align:left;"> URL source </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Date designated </td>
   <td style="text-align:left;"> 1979-01-01 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Reporting category </td>
   <td style="text-align:left;"> Convention on Migratory Species </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Designation </td>
   <td style="text-align:left;"> Appendix 1 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Designation abbreviation </td>
   <td style="text-align:left;"> CMS_A1 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> designation description </td>
   <td style="text-align:left;"> Endangered migratory species in danger of extinction throughout all or a significant portion of their range, and for which Range States are obliged to prohibit taking and to take protective measures to conserve. (Note that taking may be permitted in some circumstances as outlined in Article III.5.) </td>
  </tr>
  <tr>
   <td style="text-align:left;"> IUCN version </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Criteria description </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Comments </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Reporting category sort order </td>
   <td style="text-align:left;"> C1 </td>
  </tr>
</tbody>
</table>
<h3> Appendix 2 - Convention on Migratory Species </h3>
<table>
<tbody>
  <tr>
   <td style="text-align:left;"> Designated name </td>
   <td style="text-align:left;"> Scolopacidae </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Common name </td>
   <td style="text-align:left;"> Eskimo Curlew </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Source </td>
   <td style="text-align:left;"> Convention on Migratory Species </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Source description </td>
   <td style="text-align:left;"> The Convention on the Conservation of Migratory Species of Wild Animals (Bonn Convention or CMS) was adopted in Bonn, Germany in 1979 and came into force in 1985. Contracting Parties work together to conserve migratory species and their habitats by providing strict protection for endangered migratory species (listed in Appendix 1 of the Convention), concluding multilateral Agreements for the conservation and management of migratory species which require or would benefit from international cooperation (listed in Appendix 2), and by undertaking co-operative research activities </td>
  </tr>
  <tr>
   <td style="text-align:left;"> URL source </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Date designated </td>
   <td style="text-align:left;"> 1979-01-01 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Reporting category </td>
   <td style="text-align:left;"> Convention on Migratory Species </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Designation </td>
   <td style="text-align:left;"> Appendix 2 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Designation abbreviation </td>
   <td style="text-align:left;"> CMS_A2 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> designation description </td>
   <td style="text-align:left;"> Migratory species having an unfavourable conservation status for which Range States are encouraged to conclude international agreements for their benefit. </td>
  </tr>
  <tr>
   <td style="text-align:left;"> IUCN version </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Criteria description </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Comments </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Reporting category sort order </td>
   <td style="text-align:left;"> C1 </td>
  </tr>
</tbody>
</table>

    
    <hr>
    <p>Contains JNCC/NE/NRW/SNH/NIEA data &#169; copyright and database right 2022</p>
  </body>
  <script src="taxon.js"></script>
</html>
