<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Salvelinus lonsdalii</title>
  </head>
  <body>
    <h1><em>Salvelinus lonsdalii</em></h1>
    <h2>Taxon details</h2>
<table>
<tbody>
  <tr>
   <td style="text-align:left;"> Category </td>
   <td style="text-align:left;"> Fish </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Taxon group </td>
   <td style="text-align:left;"> bony fish (Actinopterygii) </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Recommended taxon name </td>
   <td style="text-align:left;"> Salvelinus lonsdalii </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Recommended authority </td>
   <td style="text-align:left;"> Regan, 1909 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Recommended qualifier </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Recommended taxon version </td>
   <td style="text-align:left;"> NHMSYS0020755087 </td>
  </tr>
</tbody>
</table>
<p><a href='https://species.nbnatlas.org/species/NHMSYS0020755087' target='_blank'> View on NBN Atlas</a></p>
    <h2>Designations</h2>
<h3> Critically Endangered - The IUCN Red List of Threatened Species (2010) </h3>
<table>
<tbody>
  <tr>
   <td style="text-align:left;"> Designated name </td>
   <td style="text-align:left;"> Salvelinus lonsdalii </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Common name </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Source </td>
   <td style="text-align:left;"> The IUCN Red List of Threatened Species (2010) </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Source description </td>
   <td style="text-align:left;"> The IUCN Red List of Threatened Species provides taxonomic, conservation status and distribution information on taxa that have been globally evaluated using the IUCN Red List Categories and Criteria. This system is designed to determine the relative risk of extinction, and the main purpose of the IUCN Red List is to catalogue and highlight those taxa that are facing a higher risk of global extinction (i.e. those listed as Critically Endangered, Endangered and Vulnerable). The IUCN Red List also includes information on taxa that are categorized as Extinct or Extinct in the Wild; on taxa that cannot be evaluated because of insufficient information (i.e. are Data Deficient); and on taxa that are either close to meeting the threatened thresholds or that would be threatened were it not for an ongoing taxon-specific conservation programme (i.e. are Near Threatened). </td>
  </tr>
  <tr>
   <td style="text-align:left;"> URL source </td>
   <td style="text-align:left;"> NA </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Date designated </td>
   <td style="text-align:left;"> 2008-01-01 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Reporting category </td>
   <td style="text-align:left;"> Global Red list status </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Designation </td>
   <td style="text-align:left;"> Critically Endangered </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Designation abbreviation </td>
   <td style="text-align:left;"> RedList_Global_post2001-CR </td>
  </tr>
  <tr>
   <td style="text-align:left;"> designation description </td>
   <td style="text-align:left;"> A taxon is Critically Endangered when the best available evidence indicates that it meets any of the criteria A to E for Critically Endangered (see Section V), and it is therefore considered to be facing an extremely high risk of extinction in the wild. </td>
  </tr>
  <tr>
   <td style="text-align:left;"> IUCN version </td>
   <td style="text-align:left;"> 2001 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Criteria description </td>
   <td style="text-align:left;"> ver 2001; B1ab(v)+2ab(v) </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Comments </td>
   <td style="text-align:left;"> Endemic. Population trend = unknown </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Reporting category sort order </td>
   <td style="text-align:left;"> F </td>
  </tr>
</tbody>
</table>

    
    <hr>
    <p>Contains JNCC/NE/NRW/SNH/NIEA data &#169; copyright and database right 2022</p>
  </body>
  <script src="taxon.js"></script>
</html>
